
ATTRS{idVendor}=="c251", ATTRS{idProduct}=="f001", MODE="666", GROUP="plugdev"
KERNEL=="hidraw*", ATTRS{idVendor}=="c251", ATTRS{idProduct}=="f001", MODE="666", GROUP="plugdev"
